alias sudo='sudo '
alias pullreq='hub pull-request -b develop -m'
alias tag='git describe --tags --abbrev=0'
alias tagdiff='git diff --exit-code `git describe --tags --abbrev=0`'

alias branch-diff='git log --graph --abbrev-commit --date=relative'

alias g='git '
alias gs='git status '
# alias gp='git push' this is now a function
alias gl='git pull'
alias gb='git branch '
alias gci='git commit'
alias gc='git commit'
alias gcs='git commit -S'
alias gcl='git clone'
alias gco='git checkout'
alias gk='gitk --all&'
alias gu='git gui --all'
alias gupp='git pull && git push'
alias contributors='git shortlog -s -n'
alias glc='git rev-parse --verify HEAD'
alias gfo='git fetch origin'
alias gsh='git stash --include-untracked'
alias grb='git rebase --interactive'
alias grbc='git rebase --continue'
alias grba='git rebase --abort'
alias grbm='git rebase --interactive origin/main'
alias yoink='git fetch --all && git rebase --interactive origin/main'
# alias yeet='git push --force-with-lease'
# see function
# alias forcepush='git push --force-with-lease'


alias ga='git add '
alias gd='git diff'
alias gdno='git diff --name-only'
alias gdnom='git diff --name-only origin/main'

alias got='git '
alias get='git '

alias gsb='git switch'
alias gnb='git switch -c'

alias gm='git merge --no-ff'


alias tailf='tail -F'

if [ -n "$NVIM" ]; then
  alias v='nvr -O'
  alias nv='nvr -O'
else
  alias v='nvim -O'
  alias nv='nvim -O'
fi


alias watch='watch '

alias h='hostname'

alias pgen='pass generate --clip'


alias ll='ls -lah'
alias l='l'

case "$OSTYPE" in
  darwin*)
    # ...
    alias o='open'
  ;;
  linux*)
    # ...
    alias o='xdg-open'
  ;;
  dragonfly*|freebsd*|netbsd*|openbsd*)
    # ...
  ;;
esac
alias sz='source ~/.zshrc'

# parent cd
function pcd { cd ${PWD%/$1/*}/$1; }
export nvdir="~/dotfiles/home/.config/nvim"
function cdv { cd $nvdir/$1; }
alias cdvp="cd $nvdir/lua/plugins"
alias cdvl="cd $nvdir/lua"

function vimDirDiff { echo "Please wait while vim diffs the directories" args=$@ vim -f "+execute \"DirDiff $args\"" echo "vimDirDiff Done" }

alias gt='go test'

function lsi {
  ls | fzf | xargs $1
}
function lsv {
  find .| grep -v vendor | grep $1 | fzf | xargs nvim
}

alias agv='ag --ignore-dir=vendor --ignore-dir=node_modules --ignore-dir=assets --ignore-dir=target -W 120'

[ -f "/opt/homebrew/bin/python3" ] && alias python=/opt/homebrew/bin/python3
[ -f "/opt/homebrew/bin/pip3" ] && alias pip=/opt/homebrew/bin/pip3
alias r='. ranger'

alias agg="ag --file-search-regex='\.go$'"

function fzh {
  history 1|fzf
}

function fzc {
  history 1|grep 'cd ~'|fzf
}
alias nvc="nvim ~/.config/nvim/lua/plugins/init.lua"
