alias sudo='sudo '


alias tailf='tail -F'

if [ -n "$NVIM" ]; then
  alias v='nvr -O'
  alias nv='nvr -O'
else
  alias v='nvim -O'
  alias nv='nvim -O'
fi


alias watch='watch '

alias h='hostname'

alias pgen='pass generate --clip'


alias ll='ls -lah'
alias l='l'

case "$OSTYPE" in
  darwin*)
    # ...
    alias o='open'
  ;;
  linux*)
    # ...
    alias o='xdg-open'
  ;;
  dragonfly*|freebsd*|netbsd*|openbsd*)
    # ...
  ;;
esac
alias sz='source ~/.zshrc'

# parent cd
function pcd { cd ${PWD%/$1/*}/$1; }
export nvdir="~/dotfiles/home/.config/nvim"
function cdv { cd $nvdir/$1; }
alias cdvp="cd $nvdir/lua/plugins"
alias cdvl="cd $nvdir/lua"

function vimDirDiff { echo "Please wait while vim diffs the directories" args=$@ vim -f "+execute \"DirDiff $args\"" echo "vimDirDiff Done" }

function lsi {
  ls | fzf | xargs $1
}
function lsv {
  find .| grep -v vendor | grep $1 | fzf | xargs nvim
}

alias agv='ag --ignore-dir=vendor --ignore-dir=node_modules --ignore-dir=assets --ignore-dir=target -W 120'

[ -f "/opt/homebrew/bin/python3" ] && alias python=/opt/homebrew/bin/python3
[ -f "/opt/homebrew/bin/pip3" ] && alias pip=/opt/homebrew/bin/pip3
alias r='. ranger'

alias agg="ag --file-search-regex='\.go$'"

function fzh {
  history 1|fzf
}

function fzc {
  history 1|grep 'cd ~'|fzf
}

alias nvc="nvim ~/.config/nvim/lua/plugins/misc.lua"
