alias sudo='sudo '
alias pullreq='hub pull-request -b develop -m'
alias tag='git describe --tags --abbrev=0'
alias tagdiff='git diff --exit-code `git describe --tags --abbrev=0`'

alias release-diff='git log --graph --abbrev-commit --date=relative release-prod..release-test'
alias branch-diff='git log --graph --abbrev-commit --date=relative'

alias g='git '
alias gs='git status '
alias gp='git push'
alias gl='git pull'
alias gb='git branch '
alias gci='git commit'
alias gc='git commit'
alias gcs='git commit -S'
alias gcl='git clone'
alias gco='git checkout'
alias gk='gitk --all&'
alias gu='git gui --all'
alias gupp='git pull && git push'
alias contributors='git shortlog -s -n'
alias glc='git rev-parse --verify HEAD'

alias ga='git add ' 
alias gd='git diff'

alias got='git '
alias get='git '


alias tailf='tail -F'

alias v=nvim
alias vg="v -c 'GFiles!'"
alias vim=/usr/local/bin/vim


alias watch='watch '

alias h='hostname'

alias pgen='pass generate --clip'


alias ll='ls -lah'
alias l='l'

alias o='open'
alias sz='source ~/.zshrc'


# parent cd
function pcd { cd ${PWD%/$1/*}/$1; }

function vimDirDiff { echo "Please wait while vim diffs the directories" args=$@ vim -f "+execute \"DirDiff $args\"" echo "vimDirDiff Done" }

alias gt='go test'

function lsi {
  ls | fzf | xargs $1
}
function lsv {
  find .| grep -v vendor | grep $1 | fzf | xargs nvim
}

alias agv='ag --ignore-dir=vendor'

alias cdl='cd ~/go/src/github.com/laher'

alias python=/usr/local/bin/python3 
alias pip=/usr/local/bin/pip3 

