alias pullreq='hub pull-request -b develop -m'
alias tag='git describe --tags --abbrev=0'

alias fuck='$(thefuck $(fc -ln -1))'
# You can use whatever you want as an alias, like for mondays:
alias FUCK='fuck'


