alias sudo='sudo '
alias pullreq='hub pull-request -b develop -m'
alias tag='git describe --tags --abbrev=0'
alias tagdiff='git diff --exit-code `git describe --tags --abbrev=0`'

alias fuck='$(thefuck $(fc -ln -1))'
# You can use whatever you want as an alias, like for mondays:
alias FUCK='fuck'


alias release-diff='git log --graph --abbrev-commit --date=relative release-prod..release-test'
alias branch-diff='git log --graph --abbrev-commit --date=relative'

alias g='git '
alias gs='git status '
alias ga='git add '
alias gb='git branch '
alias gci='git commit'
alias gc='git commit'
alias gcl='git clone'
alias gd='git diff'
alias gco='git checkout'
alias gk='gitk --all&'
alias gu='git gui --all'
alias gupp='git pull && git push'

alias got='git '
alias get='git '


alias tailf='tail -F'

alias v=nvim
alias vim=nvim


alias watch='watch '

alias h='hostname'

alias pbcopy='xclip -selection clipboard'
alias pbpaste='xclip -selection clipboard -o'

alias pgen='pass generate --clip'

alias ktail='~/d/kubetail/kubetail -t'

alias glances='~/.local/bin/glances --theme-white'

alias ll='ls -lah'
alias l='l'

alias o='xdg-open'
